{% extends "base.html.twig" %}

{% block body %}

{% if actividades|length == 0 %}
    No hay actividades
{% else %}

<h3>Lista de los actividades de cielos abiertos</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Actividad</th>
      <th scope="col">Lugar</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
     {% for actividad in actividades %}
    <tr>
      <th scope="row">{{actividad.id}}</th>
      <td>{{actividad.nombre}}</td>
      <td>{{actividad.lugar}}</td>
      <td>@mdo</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}


