{% extends "base.html.twig" %}

{% block body %}

{% if actividades|length == 0 %}
    No hay actividades
{% else %}

<h3>Lista de los actividades de cielos abiertos</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Actividad</th>
      <th scope="col">Fecha</th>
      <th scope="col">Controla</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
     {% for actividad in actividades %}
    <tr>
      <th scope="row">{{actividad.id}}</th>
      <td>{{actividad.nombre}}</td>
      <td>{{actividad.fecha | date('Y-m-d') }}</td>
      {% for miembro in actividad.getMiembros() %}
      <td>{{ miembro.getNombre() }}</td>
      {% endfor %}
      <td><a class="btn btn-danger" href="">x</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}


